.bg-img {
  background-image: url(../img/rose.png);
  background-size: cover;
  height: 700px;
}


.hero-about {
  margin-top: 20px;
  font-size: 16px;
}

.about-text {
  line-height: 30px;
  margin-top: 25px;
}


.sources {
  margin-left: 30px;
}
